<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Login Page</title>
</head>
<body>

    <div class="jumbotron text-center jumbotron-fluid">
        <div class="container mx-auto">
          <img class="" src="dejabrewLogo.png"  alt="logo" style="height: 200px; width: 450px; background-color: #e9ecef; border: none;">
          <p class="lead">Alcohol is not the answer, it just makes you forget the question.</p>
        </div>
      </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Homepage</a>
        <a class="nav-link" href="#">My Saved Breweries<span class="sr-only">(current)</span></a>
        <a class="nav-link" href="#">Post New Brewery</a>
      </div>
    </div>
  </nav>

  <div class="container container-fluid">
    <class class="row">
        <div class="col-lg-6">
          <div class="login">
          <h2>Login</h2>
        
          <form class="form login-form">
            <div class="form-group">
              <label for="email-login">email:</label>
              <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="form-group">
              <label for="password-login">password:</label>
              <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">login</button>
            </div>
          </form>
        </div>
      </div>
   

    
        <div class="col-lg-6">
          <div class="signup">
          <h2>Sign up</h2>
          <form class="form signup-form">
            <div class="form-group">
              <label for="name-signup">name:</label>
              <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group">
              <label for="email-signup">email:</label>
              <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group">
              <label for="password-signup">password:</label>
              <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="check">
              <label class="form-check-label" for="ageauth">I am over 21!</label>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">signup</button>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>
      
      <script src="./js/login.js"></script>
      
</body>
</html>