<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Homepage</title>
</head>
<body>
    <div class="jumbotron text-center jumbotron-fluid">
        <div class="container mx-auto">
          <img class="" src="dejabrewLogo.png" alt="logo" style="height: 225px; width: 450px; background-color: #e9ecef; border: none;">
          <p class="lead">Alcohol is not the answer, it just makes you forget the question.</p>
        </div>
      </div>
    
      <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="#">Homepage<span class="sr-only">(current)</span></a>
            <a class="nav-link" href="#">My Saved Breweries</a>
            <a class="nav-link" href="#">Post New Brewery</a>
          </div>
        </div>
      </nav>
      
      <div class="container">
          <div class="row">
            <div class="card w-100 mx-auto p-3 my-3">
                <div class="card-body">
                  <h5 class="card-title">Brewery</h5>
                  <p class="card-text">Seattle-based brewery that makes a killer IPA</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Location: Fremont</li>
                  <li class="list-group-item">Phone: 206-420-6969</li>
                  <li class="list-group-item">Rating: *****</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Link to Brewery</a>
                  <a href="#" class="card-link">Map to it!</a>
                </div>
              </div>
          </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="card w-100 mx-auto p-3 my-3">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>
    </div>
     
      
</body>
</html>