<div class=" panel panel-primary text-center">
    <div class="panel-heading">
        <h2><a href='/post/{{id}}'>{{title}}</a></h2>
    </div>
    <div class="panel-body">
        <p>{{{post_text}}}</p>
        <p>Rating</p>
        <p>Created by {{user.name}}</p>
        <p>Yelp Info here</p>
    </div>
</div>