<div class="row">
<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h5 class="card-title"><a href='/post/{{post.id}}'>{{post.title}}</a></h5>
        <p class="card-text" id="card-details">Posted by: {{user.username}} </p>
        <br>
        <p class="card-text">{{post.post_text}}</p>
    </div>
</div>
</div>
{{> comment-info posts.comment}}

{{#if logged_in}}
    <form class = "comment-form">
        <div class="form-group " style="width: 50rem;">
            <label for="comment-content">What do you think about this post?</label>
            <textarea class="form-control" name = "comment-content" id="comment-content" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>
{{/if}}

{{#if logged_in}}
<script src = "/js/comment.js"></script>
{{/if}}